*{
    font-family: Medium;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    float: left;
    padding-left: 15px;
    padding-top: 10px;
}
.container{
    padding-top: 2cm;
    width: 100%;
    height: 100%;
    background-image: url("C:/Ngee Ann Poly/Sem 1.2/FED/Sky wallpaper.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: white;
    font-size: 20px;
}
.box {
    display:inline-block;
    width:300px;
    height:200px;
    background-image: url("C:/Ngee Ann Poly/Sem 1.2/FED/Sky wallpaper.jpg");
    border:2px solid darkorchid;
}
header{
    padding-left: 10%;
}
.MOTS{
    display: block;
    width:100%;
    height: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 2cm;
}
ul{
    color:darkorchid;
    list-style: none;
}
.text-align-center{
    text-align: center;
}
body{
    /*background-color: #000966;*/
    background-image: url("C:/Ngee Ann Poly/Sem 1.2/FED/Sky wallpaper.jpg");
}

button{
    background-color:palevioletred;
    display: block;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}
nav{
    font-size: larger;
    font-family: 'Work Sans',sans-serif;
    text-align: center;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2cm;

    
}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    padding-bottom: 10px;
    position: relative;
}
nav a{
    color:#FFA2F3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    
}
nav a:hover{
        color:white
    }
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    position: relative;
    width: 0%;

    transition: all ease-in-out 200ms;
}
nav a:hover::before{
    width: 100%;
}
footer{
    background-color: black;
    
}
footer img{
    border-radius: 40%;
    width: 50px;
    height: 50px;
}