/* universal classes and ids */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.hidden{
    opacity: 0;
    filter: blur(5px);
    transition: all 0.7s;
}
.show{
    opacity: 1;
    filter: blur(0);
}
body{
    overflow-x: hidden;
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
.text-align-center{
    text-align: center;
}
p{
    padding-top: 10px;
    color: white;
    font-size: 20px;
}
/* Main Page */
.logo{
    overflow:hidden;
    position: fixed;
    top: 0;
    float: left;
    padding-left: 15px;
    padding-top: 10px;
    z-index: 100;
}
/* video album */
.container{
    padding-top: 2cm;
    width: 100%;
    height: 100%;
    background-image: url("Images/Sky wallpaper.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}
.MOTS{
    display: block; 
    width:100%;
    height: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding-top: 2cm;
}
body{
    /*background-color: #000966;*/
    background-image: url("Images/Sky wallpaper.jpg");
}

.buybutton{
    background-color:palevioletred;
    display: block;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}
.buybutton a:hover{
    color: white;
}
/* header */
header{
    padding-left: 10%;
    margin-bottom: 70px;
}
.fixnavbar{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}
ul{
    color: white;
    list-style: none;
}
nav{
    font-size: larger;
    font-family: 'Work Sans',sans-serif;
    text-align: center;
    z-index: 100;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 2cm;
}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    padding-bottom: 10px;
    position: relative;
}
nav a{
    color:#FFA2F3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    
}
nav a:hover{
        color:white
    }
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: white;
    position: relative;
    width: 0%;

    transition: all ease-in-out 200ms;
}
nav a:hover::before{
    width: 100%;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin-right: -40px;
    cursor: pointer;
    /* hides menu bar in desktop mode */
    display: none;
}
#check{
    display: none;
}
/* footer */
footer{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    padding: 70px 0;
}
.footcontainer{
    max-width: 1170px;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
}
.foot-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.foot-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
    box-sizing: border-box;
}
.foot-col{
    width: 25%;
    padding: 0 15px;
}
.foot-row{
    display: flex;
    flex-wrap: wrap;
}
.foot-col ul li{
    margin-bottom: 10px;
}
.foot-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #FFA2F3;
    display: block;
    transition: all 0.3s ease;
}
.foot-col ul li a:hover{
    color: white;
    padding-left: 5px;
}
.foot-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: (255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}
.foot-col .social-links a:hover{
    color:#24262b;
    background-color: grey;
}
/* cards */
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: palevioletred;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 6px purple;
    margin: 100px;
}
.card img {
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    color: white;
    font-size: 15px;
    line-height: 1.3;
}
.card-content .card-btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: white;
}
.card-btn:hover{
    background-color: white;
    color:#333;
}

/* responsive screen */
@media (max-width: 990px){
    .logo{
        margin-left: 50px;
        transition: all ease-in-out 0.5s;
        margin-top: 8px;
    }
    .checkbtn{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #000966;
        top: 80px;
        /* hides navbar out of screen until menu icon clicked */
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display:block;
        margin: auto;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        transition: all ease 0.3s;
    }
    nav a::before{
        display: none;
    }
    nav a:hover{
        background: none;
        color: whitesmoke;
        padding-left: 5px;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media (max-width:952px){
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 767px){
    video{
        width: 50%;
    }
    .foot-col{
        width: 50%;
        margin-bottom:30px;
    }
}
@media (max-width: 574px){
    video{
        width: 100%;
    }
    .foot-col{
        width: 100%;    
    }
    
}

/* Merchandise */

/* Set background */
.bg{
    background-image: none;
    background-color: black;
    background-size: cover;
}

/* Banner */
.banner-container{
    width: 100%;
    height: 50vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flexbox;
}
.banner{
    width: 100%;
    height: 40vh;
    background-image: url("Images/Coldplay Banner.png");
    background-size: cover;
    background-position: 69%;
    border-radius: 10px;
    margin-top: 50px;
    align-self: auto;
}
.banner-text{
    display: flexbox;
    padding-top: 50px;
    margin-left: 50px;
    
}
.banner-text h2{
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 25px ;
    color: #FFA2F3;  
}
.banner-text h3{
    margin-left: 5px;
    font-size: 100px;
    color: #FFA2F3;
}
#bannerbtn{
    display: flexbox;
    width: 130px;
    height: 35px;
    font-weight: bold;
    background-color: #FFA2F3;
    letter-spacing: 3px;
    margin-left: 180px;
    color: black;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
#bannerbtn:hover{
    background-color: black;
    color: #FFA2F3;
    transition: all 0.3s;
}

/* Shop */
.shop-title{
    color: #FFA2F3;
    font-size: 30px;
    margin-left: 150px;
    margin-bottom: 80px;
}

.listcart-container{
    display: flex;
    width: 90%;
    margin-bottom: 30px;
    padding-left: 25%;
}
/* Adjust Text and icon to left and right of screen */


/* circle behind 0 */
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: #FFA2F3;
    color: white;
    float: right;
}
/* cart icon */
.fa-solid.fa-cart-shopping{
    color: white;
    float: right;
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
}

/* List */
#root{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.sidebar{
    width: 40%;
    border-radius: 5px;
    background-color: white;
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}
.head{
    background-color: #FFA2F3;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}
.box{
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #FFA2F3;
    border-radius: 5px;
    padding: 15px;
}
/* images */
.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bottom button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #FFA2F3;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
.bottom button:hover{
    background-color: #333;
}
/* hide sidebar */
.sidebar{
    display: flexbox;
    position: fixed;
    inset: auto -700px auto auto;
    transform: translateX(0);
    transition: all 0.5s;
}
body.showcart .sidebar{
    inset: auto -300px auto auto;
    transform: translateX(-300px);
    transition: all 0.5s;
    position: fixed;
}
/* Close and checkout button */
.sidebar .cartbtn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.sidebar .cartbtn button{
    background-color: #E8BC0E;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
.sidebar .cartbtn .close{
    background-color: #aaa;
}
/* Js */
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: grey;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover{
    cursor: pointer;
    color: #333;
}

/* Footer bg - Merch */
.merchbg{
    background-color: #333;
}
/* Responsive Screen - Merchandise */
@media (max-width: 636px){
    .banner-text h3{
        font-size: 70px;
    }
    .banner-text{
        padding-top: 30px;
        text-align: center;
    }
    #root{
        grid-template-columns: repeat(1,1fr);
    }
}

/* Catalogue */

/* top banner */
.banner-catalogue{
    width: 100%;
    height: 55vh;
    background-image: url("Images/CP-CatBanner.jpg");
    background-size: cover;
    background-position: 69%;
    border-radius: 10px;
    margin-top: 50px;
    align-self: auto;
}
.cat-banner-text{
    text-align: center;
    font-size: 30px;
    color: #FFA2F3;
}
.cat-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 20%;
}
.cat-left-col{
    margin-top: 150px;
    margin-left: 10%;
    padding-bottom: 10%;
}
.cat-left-col img{
    float: left;
    max-width: 332px;
    max-height: 332px;
}
.cat-left-col h2{
    font-size: 30px;
    color: white;
    line-height: 330px;
    float: left;
    margin-left: 20px;
}
.cat-right-col{
    margin-top: 30px;
    margin-right: 10%;
    margin-bottom: 50px;
}
.cat-right-col p{
    float: right;
    font-size: 18px;
    color: #5f5f5f;
    font-weight: 400;
    margin-right: 15px;
}
.cat-right-col a{
    float: right;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-right: 15px;
}
.cat-right-col .catImage{
    float: left;
    margin-left: 11%;
    width: 332px;
    height: 332px;
}
.cat-right-col .catImage2{
    float: left;
    margin-left: 11%;
    width: 500px;
    height: 300px;
}
/* play pause button */
#play-icon1{
    float: right;
    width: 80px;
    cursor: pointer;
}
#play-icon2{
    float: right;
    width: 80px;
    cursor: pointer;
}
#play-icon3{
    float: right;
    width: 80px;
    cursor: pointer;
}
/* Responsive screen - Catalogue */
@media (max-width:590px){
    .cat-left-col img{
        height: auto;
    }
    .cat-right-col img{
        height: auto;
    }
}


/* Tours */
.tourlist{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgb(214, 213, 213);
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tourlist h4{
    opacity: 0.6;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.tourlist h2{
    margin: 10px 0;
}
.tourname{
    background: black;
    color: #FFA2F3;
    padding: 30px;
    width: 250px;
    position: relative;
}
.tourname a{
    color: #FFA2F3;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;

}


.tourinfo{
    padding: 30px;
    position: relative;
    width: 100%;
}
.tourinfo p{
    font-size: 20px;
    font-weight: bold;
    color: #FFA2F3;
}

/* button */
.tourbtn{
    background: #FFA2F3;
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px rgb(0, 0, 0.2);
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: bold;
}
.tourbtn:hover{
    background: black;
    color: #FFA2F3;
}

/* Responsive screen - Tours */
@media (max-width:768px){
    .tourlist{
        flex-direction: column;
        width: 50%;
    }
    .tourname{
        width: 100%;
    }
    .tourname h2{
        margin: 10px 0 0;
    }
    .tourname a{
        margin-top: 10px;
    }
    .tourinfo h2{
        margin-top: 20px;
    }
    .tourinfo p{
        margin-bottom: 50px;
    }
    .tourbtn{
        padding: 10px 15px;
        float: right;
        font-size: 14px;
    }
}